@import 'tailwindcss';

@theme {
  --color-primary: #DC1921;
  --color-secondary: #EEF1F3;
  --color-bgColor: #FFFFFF
}

body{
  font-family: "Poppins", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}